apiVersion: apps/v1
kind: Deployment
metadata:
  name: frontend
spec:
  replicas: 1
  selector:
    matchLabels:
      app: frontend
  template:
    metadata:
      labels:
        app: frontend
      annotations:
        prometheus.io/scrape: "true"
        prometheus.io/port: "5000"
    spec:
      serviceAccountName: frontend-sa
      containers:
        - name: frontend
          image: preet2fun/k8s-frontend:latest
          ports:
            - containerPort: 5000
          resources:
            requests:
              memory: "64Mi"
              cpu: "100m"
            limits:
              memory: "128Mi"
              cpu: "200m"
          env:
            - name: BACKEND_BASE_URL
              value: "http://backend:8000"
            - name: BACKEND_DATA_URL
              value: "$(BACKEND_BASE_URL)/data"
            - name: BACKEND_FOOTBALL_URL
              value: "$(BACKEND_BASE_URL)/footballClub"
---
apiVersion: v1
kind: Service
metadata:
  name: frontend
spec:
  selector:
    app: frontend
  ports:
    - port: 5000
      targetPort: 5000
